<div data-role="content">
  <div class="ui-grid-b">
    <div class="ui-block-a" style="width:35%"><h1 id="targetword" style="color:Maroon; margin-left:50px"><%= @target %></h1></div>
    <% if @answer > 0 %>
      <div class="ui-block-b" style="width:20%; margin-top:20px; text-align:center"><%= image_tag "faces/#{@image}.jpg", size: "40x40" %></div>
      <div class="ui-block-c" style="width:35%; margin-top:15px; text-align:right">
        <% if @nextQuestionId.nil? %>
          <a href=<%= "/questionset/#{@questionSet}/summary" %> data-role="button" data-corners="false" data-inline="true" data-icon="arrow-r" data-iconpos="right">Done</a>
        <% else %>
          <a href=<%= "/question/#{@nextQuestionId}/answer" %> data-role="button" data-corners="false" data-inline="true" data-icon="arrow-r" data-iconpos="right">Next</a>
        <% end %>
      </div>
    <% end %>
  </div><!-- /grid-b -->

  <% if @answer == 0 %>
    <%= form_tag "/question/#{params[:id]}/answer" do %>
      <div class="ui-grid-a">
        <div class="ui-block-a" style="width:45%; margin-left:30px"><button name="answer" data-theme="e" value='1'><%= image_tag "vocabPics/#{@options[0]}", height: 160 %></button></div>
        <div class="ui-block-c" style="width:45%; margin-left:30px"><button name="answer" data-theme="e" value='2'><%= image_tag "vocabPics/#{@options[1]}", height: 160 %></button></div>
      </div>
      <br/>

      <div class="ui-grid-a">
        <div class="ui-block-a" style="width:45%; margin-left:30px"><button name="answer" data-theme="e" value='3'><%= image_tag "vocabPics/#{@options[2]}", height: 160 %></button></div>
        <div class="ui-block-b" style="width:45%; margin-left:30px"><button name="answer" data-theme="e" value='4'><%= image_tag "vocabPics/#{@options[3]}", height: 160 %></button></div>
      </div>
    <% end %>
  <% else %>
    <div class="ui-grid-a">
      <div class="ui-block-a" style="width:45%; margin-left:30px">
        <% if @answerIndex == 0 %>
          <a href="#" data-role="button" data-theme="b"><%= image_tag "vocabPics/#{@options[0]}", height: 160 %></a>
        <% else %>
          <a href="#" data-role="button" data-theme="e"><%= image_tag "vocabPics/#{@options[0]}", height: 160 %></a>
        <% end %>
      </div>
      <div class="ui-block-b" style="width:45%; margin-left:30px">
        <% if @answerIndex == 1 %>
          <a href="#" data-role="button" data-theme="b"><%= image_tag "vocabPics/#{@options[1]}", height: 160 %></a>
        <% else %>
          <a href="#" data-role="button" data-theme="e"><%= image_tag "vocabPics/#{@options[1]}", height: 160 %></a>
        <% end %>
      </div>
    </div>

    <div class="ui-grid-a">
      <div class="ui-block-a" style="width:45%; margin-left:30px">
        <% if @answerIndex == 2 %>
          <a href="#" data-role="button" data-theme="b"><%= image_tag "vocabPics/#{@options[2]}", height: 160 %></a>
        <% else %>
          <a href="#" data-role="button" data-theme="e"><%= image_tag "vocabPics/#{@options[2]}", height: 160 %></a>
        <% end %>
      </div>
      <div class="ui-block-b" style="width:45%; margin-left:30px">
        <% if @answerIndex == 3 %>
          <a href="#" data-role="button" data-theme="b"><%= image_tag "vocabPics/#{@options[3]}", height: 160 %></a>
        <% else %>
          <a href="#" data-role="button" data-theme="e"><%= image_tag "vocabPics/#{@options[3]}", height: 160 %></a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
