<% javascript 'questionset/ask.js' %>

<div id="questionContent" data-role="content" style="visibility:hidden">
  <div class="ui-grid-b">
    <div class="ui-block-a" style="width:35%"><h1 id="targetWord" style="color:Maroon; margin-left:50px"></h1></div>
    
    <div class="ui-block-b" style="width:20%; margin-top:20px; text-align:center">
      <div id="answerTrueImage" style="display:none"><%= image_tag "faces/#{@image[0]}.jpg", size: "40x40" %></div>
      <div id="answerFalseImage" style="display:none"><%= image_tag "faces/#{@image[1]}.jpg", size: "40x40" %></div>
    </div>
    
    <div class="ui-block-c" style="width:35%; margin-top:15px; text-align:right">
      <div id="nextQuestion" style="display:none">
        <button id="nextQuestionIcon" data-role="button" data-theme="b" data-corners="false" data-inline="true" data-icon="arrow-r" data-iconpos="right"></button>
      </div>
    </div>
  </div><!-- /grid-b -->

  <div id="questionSetTypeId" value="<%= params[:id] %>" style="display:none"></div>
  <div id="grade" value="<%= params[:grade] %>" style="display:none"></div>

  <% 1.upto(@rows) do |row| %>
    <div class=<%= "ui-grid-#{@rowClass}" %>>
      <% 1.upto(@cols) do |col| %>
        <% index = (row-1)*@cols + col %>
        <div class=<%= "ui-block-#{@colClass[col-1]}" %> style=<%= "width:45%; margin-left:30px" %>>
          <button id=<%= "answer#{index}" %> class="submit" data-theme="e" value="<%= index %>"><img height="160" src=""></button>
        </div>
      <% end %>
    </div>
    <br/>
  <% end %>
</div>
