<div data-role="content"> 
  <div class="ui-grid-a">
    <div class="ui-block-a">
      <h1>You got
        <span style="color:blue"><%="#{@totalPoints}"%></span>
        points out of
        <span style="color:blue"><%= "#{@totalQuestions}" %></span>
      </h1>
    </div>

    <div class="ui-block-b">
      <div style="margin-top:17px; float:right">
        <a href="/questionset/1/ask" data-role="button" data-theme='b' data-inline="true">Play Again</a>
      </div>
    </div>
  </div>

  <div data-role="collapsible" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
    <h2>View Details</h2>
    <% 0.upto(@totalQuestions/2-1).each do |index| %>
      <div class="ui-grid-c">
        <div class="ui-block-a" style="width:35%">
          <button data-corners="false"><%= @words[index*2] %></button>
        </div>
        <div class="ui-block-b" style="width:15%">
          <div style="margin-top:10px"><%= image_tag "icons/#{@scores[index*2]}.jpg", height: 30%></div>
        </div>
        <div class="ui-block-c" style="width:35%">
          <button data-corners="false"><%= @words[index*2+1] %></button>
        </div>
        <div class="ui-block-d" style="width:15%">
          <div style="margin-top:10px"><%= image_tag "icons/#{@scores[index*2+1]}.jpg", height: 30%></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
